{% extends 'base.html.twig' %}

{% block title %}Accès Refusé :: SPORTY{% endblock %}

{% block body %}

<h1>Accès Refusé</h1>

<a class="btn" href="{{ path('app_login') }}" role="button">Retour</a>

{% endblock %}