{% extends 'base.html.twig' %}

{% block title %}Connexion :: SPORTY{% endblock %}

{% block body %}

    <div class="brand-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center mb-4">
            <img class="brand-logo" src="{{ asset('images/logo.png') }}" alt="Logo">
            <h1 class="m-0 brand-title">SPORTY</h1>
        </div>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">Veuillez vérifier vos identifiants !</div>
            {% endif %}

            <label for="inputEmail">E-mail :</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe :</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <div class="text-center">
                <button class="btn btn-lg btn-success" type="submit">
                    Se connecter
                </button>
            </div>
    </form>
    </div>

{% endblock %}
