<table class="table table-sm table-hover">
    <thead>
        <tr class="table-head">
            <th style="width: 35%">Ville</th>
            <th style="width: 50%">Adresse</th>
            <th class="text-end" style="width: 15%">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for structure in structures %}
            <tr>
                <td class="structureCity"><b>{{ structure.partnerId.city }}</b></td>
                <td class="structureAddress">{{ structure.address }}</td>
                <td class="text-end"><a href="{{ path('app_admin_show_structure', {'id': structure.id}) }}" class="btn btn-sm btn-success structureUrl">Voir</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>